@model UrlPl

<!DOCTYPE html>
<html>
<head>
    <title>Создание/редактирование ссылки</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center ">Создание/редактирование ссылки</h1>
        <form id="urlForm" method="post" action="@Url.Action(Model.Id != null ? "OnUpdate" : "OnCreate", "Home")" onsubmit="return validateUrl()">
            <input type="hidden" id="id" name="id" value="@Model.Id">
            <div class="mb-3">
                <label for="longUrl" class="form-label">Длинный URL</label>
                <input type="text" class="form-control" id="longUrl" name="longUrl" value="@Model.LongUrl">
            </div>
            <div class="mb-3">
                <label for="shortUrl" class="form-label">Сокращенный URL</label>
                <input type="text" class="form-control" id="shortUrl" name="shortUrl" value="@Model.ShortUrl" readonly>
            </div>
            <div class="mb-3">
                <label for="creation" class="form-label">Дата создания</label>
                <input type="text" class="form-control" id="creation" name="creation" value="@Model.Creation" readonly>
            </div>
            <div class="mb-3">
                <label for="transitionCount" class="form-label">Количество переходов</label>
                <input type="number" class="form-control" id="transitionCount" name="transitionCount"
                       value="@Model.TransitionCount" readonly>
            </div>
            <button type="button" class="btn btn-primary" id="shortenBtn">Сократить URL</button>
            <a href="/Home/Index" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.getElementById('shortenBtn').addEventListener('click', function () {
            var id = document.getElementById('id').value; // Получаем значение ID
            var formData = new FormData();
            formData.append('id', parseInt(id));

            fetch('@Url.Action("CreateShortenUrl", "Home")', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('shortUrl').value = data.shortenedUrl;
                })
                .catch(error => console.error('Ошибка:', error));
        });
    </script>


    <script>
        function validateUrl() {
            var urlInput = document.getElementById('longUrl');
            var urlValue = urlInput.value;
            var urlPattern = /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/i;

            if (!urlPattern.test(urlValue)) {
                alert("Введен не корректный URL");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
